/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

.rounded-md {
    border-radius: 0rem;
}

/* 站点标题 */
.text-xl {
    font-size: 2em;
    font-family: 'HansTitle';
}

/* 去掉页脚 */
footer {
    display: none;
}

/* 去摘要下面的分割线 */
.border-t {
    border-top: none;
}

/* 二级菜单 */
.my-auto {
    border-bottom-width: 0;
}

/* 文章信息 */
.mt-2 {
    font-weight: normal;
    display: none;
}
.pl-1 {
    padding-left: 0rem;
}

/* 摘要字体大小 */
.mt-4 {
    font-size: 1rem !important;
}

/* 文章标题 */
.pt-6 {
    font-family: 'HansTitle';
    font-size: 3rem;
    padding: 3px;
    margin: 0.5em 0 1em 0;
    text-align: center;
    color: #8f3d2c;
    line-height: 125%;
}

/* 标题 */
.notion-h {
    font-family: sans-serif;
    font-weight: bold;
}

.notion-h1 {
    font-size: 2.3rem;
    border-bottom: none;
    margin: 1em 0 0.2em 0;
    text-align: center;
    color: #8f3d2c;
    font-family: 'HansTitle';
}

.notion-h2 {
    margin-top: 0.3em;
    color: #2e437e;
}

.notion-h3 {
    margin: 8px 0 -4px 0;
    color: #375662;
}

/* 正文 */
.notion-text {
    font-size: 18px;
    font-family: 'LXGW WenKai';
    font-weight: 500;
    line-height: 1.8rem !important;
    margin-top: 0.5rem !important;
    text-indent: 2em;
}

/* 引用块 */
.notion-quote {
    border-radius: 0;
}

/* 文章块动画效果修复 */
div#article-wrapper {
    transition-duration: .3s;
}

/* 公告样式调整 */
div#announcement-content .notion-text {
    text-indent: 0;
}

/* 不要细字体 */
.font-light {
    font-weight: normal;    
}